@import url("https://fonts.googleapis.com/css2?family=Inter:wght@600;800&family=Poppins&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  font-family: "Poppins", sans-serif;
}

.box {
  background-color: white;
}

h3 {
  margin: auto 10px;
  color: #333333;
}

.arrow {
  color: #333333;
}

.icon {
  color: skyblue;
}

.searchIcon {
  margin-left: auto;
  color: #333333;
}

.avatar {
  margin-left: 20px;
}
